@model WebUI.DTOs.AcademicSessionVM

@{
    ViewData["Title"] = "Department Students";
}

<style>

    #stds_filter {
        float: right;
        margin-bottom: 20px;
    }

    .dt-buttons {
        float: left;
        margin-bottom: 20px;
    }

        .dt-buttons .dt-button {
            background-color: black;
            color: white;
        }


    #stds {
        background: #fff;
        padding: 15px;
        box-shadow: 1px 3px 5px #aaa;
        border-radius: 5px;
    }

</style>

<div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 10px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Department Students</h1>
                <a asp-controller="Home" asp-action="Index" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Student List</a>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container ">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto">
            <h1 class="mb-0">Sorted By Admission Academic Session</h1>
        </div>

        <div class="row g-5">

            <div class=" col-md-12 wow zoomIn" data-wow-delay="0.3s">
                <div class="row justify-content-center">
                    <div class="col-12 my-4">
                        <form method="get" asp-controller="Department" asp-action="Students">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="form-floating my-2">
                                <select asp-for="Title" class="form-control" asp-items="@(new SelectList(ViewBag.Sessions, "Title", "Title"))">
                                    <option disabled selected>Select Academic Session ...</option>
                                </select>
                                <label asp-for="Title"></label>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>


                            <div class="d-grid gap-2 col-md-12 mx-auto mt-2">
                                <div id="loaderDiv1" class="text-center">
                                    <img src="~/img/load.gif" width="80" height="80" class="img-circle img-thumbnail" />
                                </div>
                                <input type="submit" id="btnSearch" value="Submit" class="btn btn-primary fw-bold px-3 fw-bolder" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class=" col-md-12 wow zoomIn" data-wow-delay="0.3s">

                <div class="table-responsive">
                    @if (ViewBag.Count > 0)
                    {

                        <table class="table table-hover" id="depts" style="width:100%">
                            <thead class="bg-primary text-light">
                                <tr class="mt-2">
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Matric No</th>
                                    <th>Jamb No</th>
                                    <th class="text-center">Registered?</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int tot = ViewBag.Count;
                                    int i = 1;
                                    foreach (var item in ViewBag.AllStudents as List<WebUI.DTOs.GetStudentsVm>)
                                    {
                                        <tr>
                                            <td>
                                                @if (i <= tot)
                                                {
                                                    @i
                                                }
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.MatricNo</td>
                                            <td>@item.JambReg</td>
                                            <td class="text-center">
                                                @if (item.IsRegistered)
                                                {
                                                    <b class="text-primary">YES</b>
                                                }
                                                else
                                                {
                                                    <b class="text-warning">NO</b>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                            <tfoot class="bg-primary text-light">
                                <tr>

                                    <td colspan="5" class="text-center">
                                        <b>DEPARTMENT STUDENTS - School Result Manager</b>
                                    </td>

                                </tr>
                            </tfoot>

                        </table>


                    }
                    else
                    {
                        <div class="alert">
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <strong class="text-info text-center text-capitalize">no data found</strong>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        $(document).ready(function () {
            $("#loaderDiv1").hide();

            $("#stds").DataTable({
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });




            $("#btnSearch").click(function () {
                $("#loaderDiv1").show();
            });

        });




    </script>

    }