@{
    ViewData["Title"] = "Course Management";
}

<style>

    #courses_filter {
        margin-bottom: 20px;
        float: right;
    }

    .dt-buttons {
        float: left;
        margin-bottom: 20px;
    }

        .dt-buttons .dt-button {
            background-color: black;
            color: white;
        }


    #courses {
        background: #fff;
        padding: 15px;
        box-shadow: 1px 3px 5px #aaa;
        border-radius: 5px;
    }
</style>

<div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 10px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Course Management</h1>
                <a asp-controller="Home" asp-action="Index" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Course</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container ">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto">
            <h5 class="fw-bold text-primary text-uppercase">Department Courses</h5>
            <h1 class="mb-0">Course Manager</h1>
        </div>

        <div class="row g-5">
            <div class=" col-md-12 wow zoomIn" data-wow-delay="0.3s">
                @if (User.IsInRole("HOD") && ViewBag.IsHod || User.IsInRole("DepartmentICT"))
                {
                    <input type="button" class="btn btn-primary fw-bold px-3 fw-bolder mb-3" onclick="AddEdit('')" value="New Course" />
                }

                <div class="table-responsive">
                    @if (ViewBag.Count > 0)
                    {

                        <table class="table table-hover" id="courses" style="width:100%">
                            <thead class="bg-primary text-light">
                                <tr class="mt-2">
                                    <th>S/N</th>
                                    <th>Course Code</th>
                                    <th>Unit</th>
                                    <th>Title</th>
                                    @if (User.IsInRole("DepartmentICT") || User.IsInRole("HOD") && ViewBag.IsHod)
                                    {
                                        <th>Operations</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int tot = ViewBag.Count;
                                    int i = 1;
                                    foreach (var item in ViewBag.AllCoursesx as List<WebUI.DTOs.CourseBankViewModel>)
                                    {
                                        <tr id="row_@item.ID">
                                            <td>
                                                @if (i <= tot)
                                                {
                                                    @i
                                                }
                                            </td>
                                            <td> <a asp-action="CourseOutLine" asp-controller="CourseManager" asp-route-courseId="@item.ID">@item.Code</a> </td>
                                            <td>@item.Unit</td>
                                            <td>@item.Title</td>


                                            @if (User.IsInRole("HOD") && ViewBag.IsHod || User.IsInRole("DeaprtmentICT"))
                                            {
                                                <td>
                                                    <a class="btn btn-primary ms-2"
                                           onclick="AddEdit('@item.ID')">
                                                        Edit
                                                    </a>

                                                    <a class="btn btn-danger ms-2"
                                           onclick="ConfirmDeleteRecord('@item.ID')">
                                                        <i class="fa fa-trash"></i>
                                                    </a>

                                                </td>
                                            }
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <div class="alert">
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <strong class="text-info text-center text-capitalize">no data found or logout, login and try again</strong>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddEditModal" tabindex="-1" data-bs-backdrop="static"  data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title text-center text-danger">
                    Add New Coruse
                </h2>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <div style="text-align: center; display: none;" id="loaderDiv">
                    <img src="~/img/load.gif" width="50" height="50" class="img-circle img-thumbnail" />
                </div>
                <a href="#" class="btn btn-danger" id="btnReset">Reset</a>
                <a href="#" class="btn btn-primary" id="btnCancle">Cancle</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Record</h1>
                <button type="button" class="btn-close text-bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="/CourseManager/DeleteCourse" method="get">
                    <h2 class="text-center text-danger fs-3">ARE YOU SURE YOU WANT TO DELETE RECORD <span id="deleteId"></span>?</h2>
                    <input type="hidden" name="ID" id="ID" />
                    <div class="d-grid gap-2 col-md-12 mx-auto">
                        <input type="submit" class="btn btn-danger" value="Yes Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#courses").DataTable({
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

            var Smsg = $("#msg").text();
            if (Smsg != "") {
                alert(Smsg);
            }

            $("#btnReset").click(function () {
                $("#Code").val("");
                $("#Unit").val("");
                $("#Semester").val("");
                $("#Title").val("");
            })

            $("#btnCancle").click(function () {
                $("#AddEditModal").modal("hide");
            })

        })

        var AddEdit = function (id) {
            var url = "/CourseManager/AddEditCourse?ID=" + id; //USED TO SEARCH ENTITY WITH ID

            $("#modalBody").load(url, function () {  // LOAD THE CONTENT FROM THE ACTION /ADDEDITRECORD

                $("#AddEditModal").modal("show");
            })
        }

        var ConfirmDeleteRecord = function (id) {
            $("#ID").val(id);
            $("#DeleteModal").modal("show");
        }
    </script>

}